/* Transitioning Background */
.background-images {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.background {
	display:block;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#ravines {
	background: url("index_bkgrnd/ravines.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 1;
}

#burressHall {
	background: url("index_bkgrnd/burressHall.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#niagraFalls {
	background: url("index_bkgrnd/niagraFalls.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#powerLines {
	background: url("index_bkgrnd/powerLines.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#westVirginia {
	background: url("index_bkgrnd/westVirginia.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cows {
	background: url("index_bkgrnd/cows.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Main part of the page */
.body * {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	clear: left;
	margin-top: 20px;
}

.body img {
	border-radius: 50%;
	border-style: solid;
}

.body h1 {
	font-size: 48px;
}

.body h3 {
	font-size: 32px;
}
